span.heimu a.external,span.heimu a.external:visited,span.heimu a.extiw,span.heimu a.extiw:visited {
    color: #252525
}

.heimu,.heimu a,a .heimu,.heimu a.new {
    background-color: #252525;
    color: #252525;
    text-shadow: none
}

body:not(.heimu_toggle_on) .heimu:hover,body:not(.heimu_toggle_on) .heimu:active,body:not(.heimu_toggle_on) .heimu.off {
    transition: color .13s linear;
    color: #fff
}

body:not(.heimu_toggle_on) .heimu:hover a,body:not(.heimu_toggle_on) a:hover .heimu,body:not(.heimu_toggle_on) .heimu.off a,body:not(.heimu_toggle_on) a:hover .heimu.off {
    transition: color .13s linear;
    color: #add8e6
}

body:not(.heimu_toggle_on) .heimu.off .new,body:not(.heimu_toggle_on) .heimu.off .new:hover,body:not(.heimu_toggle_on) .new:hover .heimu.off,body:not(.heimu_toggle_on) .heimu.off .new,body:not(.heimu_toggle_on) .heimu.off .new:hover,body:not(.heimu_toggle_on) .new:hover .heimu.off {
    transition: color .13s linear;
    color: #ba0000
}
table#bio-table {
    text-align: center;
}

.bio_p {
    border-radius: 2px;
    border: 0;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
    padding: 15px;
}

td > a.shutdown {
    cursor: not-allowed;
}

.label_t {
    background: transparent;
    box-shadow: inset 0 -.25em .25em -.25em rgba(1, 105, 124, .5);
    margin: .25em;
    padding: .25em;
    transition-duration: 0.5s;
    display: inline-block;
    line-height: 2.5em;
}

.header_alt {
    color: #777;
    font-size: 1em;
    padding: 0.5em;
}

.label_gps {
    box-shadow: inset .25em 0 .25em -.25em rgba(70, 0, 128, .42);
    margin-top: 1.5em;
}

p.bio {
    border-left: .25em solid green;
    line-height: 1.75em;
    padding: 0.5em;
    margin-top: 1.5em;
}

.bio_p{
    background-image:url('https://img2.66moe.com/img/a2tybW0=2.png');
    background-repeat:no-repeat;
    width:100%;
    margin: 0 auto;
}


@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}